@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h3 class="display-3 textoTitulo">Seja bem vindo!</h3>
    <h5 class="textoCor">App Vendas Web</h5>
    <h5 class="textoCor">Aplicativo direcionado para aprendizado da linguagem C#</h5>
</div>
