@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1 class="display-1">@ViewData["Title"]</h1>
<h4 class="Display-4">App Vendas Web</h4>
<p class="Display-4">Aplicativo direcionado para aprendizado da linguagem C#</p>