html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.backgroundBody {
    background: #bdecfd;
}

.backgroundNav {
    background: #34AFDC;
}

.textoCor {
    color: #092029;
}

.textoLink {
    color: #fffff6;
    text-transform: uppercase;
    font-weight: bold;
}

    .textoLink:hover {
        color: #EE3A62;
    }

.textoTitulo {
    font-weight: bold;
}

.bttnClass {
    background: #EE3A62;
    color: #fffff6;
    text-transform: uppercase;
    font-weight: bold;
}

    .bttnClass:hover {
        background: #fffff6;
        color: #EE3A62;
    }
