html {
    font-size: 14px;
    color: #0f0017;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.backgroundBody {
    background: linear-gradient(#ccc8ff, #e1e2ff );
}

.backgroundNav {
    background: #e1e2ff;
}

.textClass {
    color: #0f0017;
}

.bttnClass {
    background: none;
    border: solid 1px #0f0017;
    color: #0f0017;
}

    .bttnClass:hover {
        background: #0f0017;
        color: #e1e2ff;
    }
